<div class="container">
  <div class="row">
    <div class="jumbotron">
      <h2>Student Record Keeping System</h2>
      <p>Add and display student details</p>
    </div>
  </div>

  <div class="row">

    <app-student-entry (onAddStudent)="newStudentAdded($event)"> </app-student-entry>
  </div>
  <br>
  <div class="row">

    <h4>
      <div class="row">
        <div class="col-xs-2">
          Roll No.
        </div>
        <div class="col-xs-3">
          Name
        </div>
        <div class="col-xs-2">
          Action
        </div>
        <hr>
      </div>
    </h4>
    <app-student-display *ngFor="let student of students" [studentRecord]="student"
      (onDeleteClick)="deleteStudent($event)">
    </app-student-display>

    <app-student-records-update>
    </app-student-records-update>
  </div>

</div>